<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <h1>Signup</h1>

    <div class="a">
        <form method="post" action="/user">
            <lable>Enter your name:</lable>
            <input type="text" name="name" placeholder="xyz">
            <lable>Enter email:</lable>
            <input type="text" name="email" placeholder="xyz@gmail.com">
            <lable>Enter your name:</lable>
            <input type="password" name="passward" placeholder="...">
            <button type="submit">signup</button>
        </form>
    </div>
    
</body>
</html>